body {
    background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.Banner {
    background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
    padding: 0;
    margin: 0;
    border: none;
    height: 50px;
}

h1 {
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

.Main_content {
    width: 800px;
    border-width: 4px;
    border-style: solid;
    border-color: gray;
    margin: auto;
    overflow: hidden;
}

.Rotten {
    background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
    height: 83px;
    width: 550px;
}

.rotten_rating {
    color: red;
    font-size: 48pt;
    font-weight: bold;
    display: inline-block;
    transform: translateY(-13.5px);
}

.rotten_review_total {
    color: white;
    font-size: 8pt;
    display: inline-block;
    margin-left: 280px;
    transform: translateY(-44px);
}

.Right_part {
    float: right;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.List {
    width: 230px;
    padding: 10px;
    background: #A2B964;
    font: Arial, sans-serif;
    font-size: 8pt;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

.Left_part {
    width: 550px;
}

.Left_part_left {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 11px;
    float: left;
}

.Left_part_right {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 11px;
    float: left;
}

.Reviewers_and_commends {
    margin-bottom: 2.3em;
}

.Reviewers {
    font-size: 8pt;
    margin-bottom: 0;
}

.name {
    font-style: italic;
}

.Comment_of_reviewers {
    background: #E1D697;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    padding: 8px;
    font-size: 8pt;
    font-weight: bold;
    overflow: hidden;
    margin-top: 0;
}

.pictures {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.photos {
    display: inline-block;
    margin-right: 5px;
    float: left;
}

.Part_ecept_bar {
    overflow: hidden;
}

.Bar {
    width: 800px;
    padding: 5px;
    background: #A2B964;
    font: Arial, sans-serif;
    font-size: 8pt;
    text-align: center;
}

.LINK {
    float: right;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
}